@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

._next{
  min-height: 100vh;
}

:root {
  --primary: rgb(210, 176, 70);
  --secondary: #009340;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
